*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 100vh;
  width: 550px; 
  /* background-image: url(Loginbg.png);
  background-size: cover; */
  background-color:white;
}
.wrapper h1{
  margin-top: 10px;
  font-size: 36px;
  text-align: center;
  
}
.input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.input-box input{
  width: 93%;
  height: 90%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255, 2);
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: black; 
  background-color:aliceblue;
}
.input-box input::placeholder{
  color: rgb(0,0,0);
}
.remember-forgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 15px;
}
.remember-forgot label{
  color: rgb(0,0,0);
  font-size: 14px;
}
.remember-forgot a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 14px;
}
.btn{
  margin-left: 24%;
  width: 50%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(0,0,0);
  color: skyblue;
  font-size: 18px;
  border-radius: 30px;
}
.btn:hover{
  border:1.5px solid white;
}
.register-link{
  text-align: center;
  color: rgb(0,0,0);
  font-size: 14px;
  margin-top: 20px;
}
.register-link a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-weight: bold;
}
.sideImage{
  padding-bottom: 500px;
  background-image: url(WelcomeG2.jpg);
  background-size: cover;
  height: 100vh;
  width: 700px;
  
}